.title{
    justify-content: center;
}
.newsSection{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.titleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.cardCol{
    display: flex;
    margin-bottom: 20px;
}
.cardText{
    text-align: center;
}