.title{
    justify-content: center;
}
.section{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.titleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}